@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/poppins";
@import "~@flaticon/flaticon-uicons/css/all/all";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#__next {
  @apply flex px-4 py-6  md:p-6 lg:mx-auto gap-x-6;
  font-family: 'Poppins', sans-serif;
  max-width: 1280px;
}

i {
  @apply text-orange-400;
}

i::before {
  @apply block;
}