.currentWeatherCard {
  @apply p-4 md:p-8 flex flex-row w-full;
  max-height: 244px;
}

.textColumn {
  @apply flex flex-col gap-y-2;
}

.location {
  @apply text-3xl font-bold;
}

.chanceOfRain {
  @apply text-sm;
}

.temperature {
  @apply text-4xl sm:text-6xl font-bold mt-auto;
}

.statusIcon {
  @apply ml-auto flex items-center;
  font-size: 7rem;

  @media (min-width: 640px) {
    font-size: 9rem;
  }
}